spring:
    config:
        import: optional:file:.env.properties

    output:
        ansi:
            enabled: always

    datasource:
        hikari:
            auto-commit: false

    jpa:
        hibernate:
            ddl-auto: update
        open-in-view: false
        properties:
            hibernate:
                format_sql: true
                highlight_sql: true
                use_sql_comments: true
                default_batch_fetch_size: 100
        show-sql: true

    mvc:
        hiddenmethod:
            filter:
                enabled: true

    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB

    data:
        redis:
            host: localhost
            port: 6379

toss:
    payments:
        base-url: https://api.tosspayments.com
        secret-key: ${TOSS_SECRET_KEY}
        customer-key-hmac-secret: ${CUSTOMER_KEY_HMAC_SECRET}

jwt:
    secret: ${JWT_KEY}
    access-expire-minutes: 20
    refresh-expire-days: 7
    issuer: DROP

logging:
    level:
        org.hibernate.SQL: DEBUG
        org.hibernate.orm.jdbc.bind: TRACE
