spring:
    config:
        import: optional:file:.env.properties
    profiles:
        active: prod
    output:
        ansi:
            enabled: always
    cloud:
      aws:
        credentials:
          access-key: ${AWS_ACCESS_KEY:none}
          secret-key: ${AWS_SECRET_KEY:none}
        s3:
          bucket: ${AWS_S3_BUCKET}
        region:
          static: ${AWS_S3_REGION}

    # --- Datasource / JPA ---
    datasource:
        hikari:
            auto-commit: false

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
                highlight_sql: true
                use_sql_comments: true
                dialect: org.hibernate.dialect.MySQLDialect
                default_batch_fetch_size: 100
        show-sql: true

    # --- Web / MVC ---
    mvc:
        hiddenmethod:
            filter:
                enabled: true
    web:
        resources:
            static-locations:
                - classpath:/static/
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB

    # --- Redis ---
    data:
        redis:
            host: localhost
            port: 6379

    # --- EMail ---
    mail:
        host: smtp.gmail.com
        port: 587
        username: rainy02190@gmail.com
        password: ${MAIL_PASSWORD}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    connectiontimeout: 5000
                    timeout: 5000

    cache:
      redis:
        time-to-live: 5m
# --- Jwt ---

jwt:
    secret: ${JWT_KEY}
    access-token-expire: 1200
    refresh-token-expire: 604800
    issuer: "DROP"

# --- Resilience4j ---
resilience4j:
    circuitbreaker:
        configs:
            default:
                slidingWindowSize: 10
                failureRateThreshold: 50
                waitDurationInOpenState: 10000
                permittedNumberOfCallsInHalfOpenState: 5
                slowCallDurationThreshold: 3000
        instances:
            tossPayment:
                baseConfig: default

# --- Logging ---
logging:
    level:
        org.hibernate.orm.jdbc.bind: TRACE
        org.hibernate.orm.jdbc.extract: TRACE
        org.springframework.transaction.interceptor: TRACE
        com.rest1: DEBUG
        com.mysite.knitly: DEBUG
        org.springframework.security: DEBUG
        org.springframework.security.oauth2: TRACE
        org.springframework.web: INFO
